
.timer-example{
    margin-bottom: 20px;
    padding: 24px;
}
.timer__container{
    max-width: 600px;
    margin: 0 auto;
}
.timer-example h2{
    text-align: center;
    color: #a44d7d;
    margin-bottom: 20px;
}
#timer{
    display: flex;
   justify-content: center;
}
#timer div {
    display: flex;
    align-items: center;
    line-height: 1;
     padding: 20px;
    font-size: 30px;
    border: 1px solid #4FC3F7;
    background-color: #fff;
    border-radius: 20px;
    margin-right: 10px;
    width: 200px;
    height: 100px;
    text-align: center;
  }
  span {
    padding-left: 5px;
    font-size: 10px;
    color: rgb(117, 117, 117);
  } 
  #days{
    color: #F4511E;
  }
  #hours{
    color: #2E7D32;
  }
  #minutes{
    color: #5E35B1;
  }
  #seconds{
    color: #8D6E63;
  }
  

.form-first__container form{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 30px;
    margin: 0 auto;
    background:url('../img/parallax.png') ;
    background-attachment: fixed;
}
.form-first__container form label{
    font-size: 12px;
    margin-bottom: 10px;
    color: #fff;
}
.form-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-input input{
   background: none;
   color: #fff;
}
.form-input [type="text"]{
    margin-bottom: 30px;
}
.form-input input:focus-visible,
.form-second__container form input:focus-visible{
    outline: 1px solid #fff;
    box-shadow: 0 0 10px #fff;
    border-radius: 10px;
}
.form-first__container input{
    border: none;
    border-bottom: 1px solid #fff;
}
.form-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.form-btn input,
.form-second__container .form-btn input{
    background-color: #343D5E;
    color: #fff;
    border:none;
    padding: 10px;
    border-radius: 30px;
    width: 130px;
    transition: 0.5s ease-out;
}
.form-btn input:hover{
    background-color: #fff;
    color: #343D5E;
    border: 1px solid #343D5E;
    transition: 0.5s ease-in;
}
.form-btn input:active{
    background-color: hsla(245, 100%, 7%, 0.3);;
    color: #000;
    transition: 0.5s ease-in;
}
.form-btn input:focus{
    box-shadow: 0 0 10px #000;
    transition: 0.5s ease-in;
}


/* second-form */
.form-second__container form{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 30px;
    margin: 50px auto;
    color: #fff;
    background:url('../img/parallax.png') ;
    background-attachment: fixed;
}
.form-second__container form label,
.form-item{
    margin-bottom: 20px;
}
.form-second__container form input{
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.item-input,
.form-item{
    display: flex;
    flex-direction: column;
}
.pass{
    position: relative;
}
.open-eye{
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='30' height='30' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0_64_4' transform='scale(0.0333333)'/%3E%3C/pattern%3E%3Cimage id='image0_64_4' width='30' height='30' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAABzElEQVRIie2WvS9sURTF15UMEcZHpyeaV4wRjV6hkKcShVaUop+hITISiYj/gIIQiULyXqEjGl9R6LQjMZonIqHxU9wrGcfZ9yOPblZykntz1lr77H32PedKDTTwQwjSEoEhSeOShiX9ktQVTf2TdCPpVNJBEASX37Iy4DdwQXqcAWP/E7Af+JMhoItDoC9r0Eng2WN2D5SAAaAtGkWgHM25eAIm0gQMgGXgzWOyC+RjtHlgz6N7A5YAfz9FQTeMsu2awq8evuAA614PYNUQ3Mdl6vHpAGqG14pLnjGIACWH2wysAHdAFagAzQ5nPsZv+oNUAF5iiAXHtOLhVBxOMcbvBSgIOI8hgVNmwixdVB1OPsHzvElSLu3+ZUBSI+aaJM1JIobU67xveTibCZp6IGk2fApb3UL5kypsrkpUcqu5FmL81lyzE4OY9XPqBB4Mr2Mg5wq6gWtDsEf6A2Tf8LgGui1hD+HtYgXvSMjUCnoG9CStuhXYMQxqhIfDINAejUHCPbXKuw20JlWrvmRT+L/ZtKhGHql/NuoXkCe8WaxsfKgBiyQ0ZKrVAC2SRiSNSipK6pPUGU0/SrqVdCXpr6SjIAheM2fZQAPfhXcwE5v54/4n9wAAAABJRU5ErkJggg=='/%3E%3C/defs%3E%3C/svg%3E");

}
.close-eye{
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Crect width='30' height='30' fill='url(%23pattern0)'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0_64_3' transform='scale(0.0333333)'/%3E%3C/pattern%3E%3Cimage id='image0_64_3' width='30' height='30' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAB40lEQVRIie3WP2sUQRzG8dnAxT/JBQQN2gupDJe8AiVio62F2Ema5DUkKhIwoiDB1yAIaQURLG2isdAE7CzEoHdiJZo0l4/F7uGyt7N3nMch6NPt7vN7vsPOzG8mhBACljAdRiksS7UzUjhO4V0Gf48z/+GjgE9nc90155jFbTzHJ/zEPj7jBe5gfpjwa3ilf73GlWHAB9VTnB0WvIlV6W8/jgnMYSX7VtR3XO0XeAs3SuAHmKmoq2OzBH6INSSxwgQPM3M7Aq9sMllGGRw2SuG4WzDG4Ls94FNoReD3iubFiLGNiyXwj/iGPaxjvJC3GsmDxY7pnHQ/xtTIBcZW+3oBPFeRt4/ZgO0KE0wUQsvgewVPvUfm9lgIoRabr0xj+YckSVohhIUQwm7u9dFCzWGPzFrABemSj6lRVql7zvPttVGR18b5jnGjwrgSG7bIasfNirwH+YBxvIwYm6j3Cd/BjPh2eoZaMeAE3kYKNsU6Tzf8IJLxBpOxgNPS0yUGn+oTXtQWTsZqOwHH8CQS0JI2h3lM+n1ILFTAHytsySp4guvSztSPYu21aZALpLQRrOHrH8Are3uvARzBZTySrv4v0tb3Ax+yd/dxKVczHPiAA/53b69/zdV5eWTgHHwphBB+ATwgEamw6OWgAAAAAElFTkSuQmCC'/%3E%3C/defs%3E%3C/svg%3E");
}
.open-eye,
.close-eye{
    content: '';
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right:10px;
}
.checkBox,
.radiobutton{
    max-width: 300px;
    display: flex;
   justify-content: space-between;
}
#w3review{
    max-height: 100px;
}

