table{
    width: 100%;
    background-color: rgb(255, 209, 58);
    border: 1px solid rgba(93, 93, 93, 0.867);
}
caption{
   font-size: 32px;
   padding: 12px 0;
}
thead{
    background-color: rgb(104, 159, 255);
}
thead td{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
td{
    padding: 24px;
    border: 2px solid rgba(93, 93, 93, 0.867);
}


